<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GymGenius"
        tools:targetApi="31">
        <activity
            android:name=".UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Tips"
            android:exported="false" />
        <activity
            android:name=".CalisthenicsWo"
            android:exported="false" />
        <activity
            android:name=".FunctionalTrainingWo"
            android:exported="false" />
        <activity
            android:name=".SuspenssionWo"
            android:exported="false" />
        <activity
            android:name=".HomeEquipWo"
            android:exported="false" />
        <activity
            android:name=".Sub_workout"
            android:exported="false" />
        <activity
            android:name=".Wo_gym_pushup"
            android:exported="false" />
        <activity
            android:name=".wo_gym"
            android:exported="false" />
        <activity
            android:name=".Kettlebell"
            android:exported="false" />
        <activity
            android:name=".Suspension"
            android:exported="false" />
        <activity
            android:name=".Box"
            android:exported="false" />
        <activity
            android:name=".Gym"
            android:exported="false" />
        <activity
            android:name=".Sub_DietPlans"
            android:exported="false" />
        <activity
            android:name=".DietPlans"
            android:exported="false" />
        <activity
            android:name=".Sub_Stretching"
            android:exported="false" />
        <activity
            android:name=".Stretching"
            android:exported="false" />
        <activity
            android:name=".Signup"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".BattleRope"
            android:exported="false" />
        <activity
            android:name=".youtube_timer"
            android:exported="false" />
        <activity
            android:name=".BodyWeight"
            android:exported="false" />
        <activity
            android:name=".BMImeter"
            android:exported="false" />
        <activity
            android:name=".Workout"
            android:exported="false" />
        <activity
            android:name=".ExerciseGuide"
            android:exported="false" />
        <activity
            android:name=".splash_screen"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>